body {
    background-color: rgb(145, 61, 167);
    text-align: center;
}

#inptext {
    width: 30px;
    height: 30px;
}

#addbtn {
    width: 45px;
    height: 30px;
}

#trash {
    text-align: center;
}

#res {
    text-align: center;
}

/* #notif {
    width: 90px;
    height: 40px;
    font-size: larger;
    margin: auto;
} */