body {
    background-color: rgb(195, 139, 209);
    text-align: center;
}

#inptext {
    width: 30px;
    height: 30px;
}

#addbtn {
    width: 45px;
    height: 30px;
}

#trash {
    text-align: center;
}

#res {
    text-align: center;
}
